/* body{background-color: aqua;} */
*{margin: 0cm;
padding: 0cm;}
.font-open-scene {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}
  header {
    background-color: #fff8f3;
    padding-top: 50px;
  }
  nav{width: 71%;
max-width: 1140px;
margin: 0px auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo h2{font-size: 45px;
font-weight: 900;}

.color-orange{ color: #FD6E0A ;
}
nav .menu {display: flex;
    list-style-type: none;
    gap: 51px;
    text-decoration: none;
    align-items: center;
}
nav .menu a {font-size: 20px;
color: #474747;}

.btn {
   background-color: #FD6E0A; 
   border: none;
   border-radius: 5px;
   height: 65px;
   width: 150px;
   align-items: center;
   padding: 
   font-weight: bold;
   font-size: 20px;
   color: white;

}
#banner{
    margin: 47px 38px 0 230px;
    /* border: solid 1px #FD6E0A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-image {
    
}
#banner .banner-content h2{width: 177px;
                            height: 61px;
                            font-size: 45px;
                            font-weight: 600;
                            color: #474747;
                            margin-bottom: 5px;
}
#banner .banner-content h1{
                            font-size: 85px;
                            font-weight: bold;
                            color: #181818;
                            margin-bottom: 20px;
}
#banner .banner-content p{ font-size: 18px;
    color:#757575;
    line height: 30px;

}
#banner .banner-content {
    max-width: 585px;
}
div .btn{
    margin-top: 20px;
    cursor: pointer;
}
